.counter {
  width: 80%;
  margin: auto;
}

.CounterContainer {
  /* background-color: red; */
  padding: 30px 0;
  margin-bottom: 80px;
}

.counterWrapper {
  display: flex;
  justify-content: space-evenly;
}

.counterItem {
  width: 25%;
}

.counterNumber,
.counterTitle {
  background: var(--counter-color);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.counterNumber {
  font-size: 2.3rem;
}

.counterTitle {
  font-size: 1.3rem;
}
