.NewsLetterContainer {
  background: var(--newsletter-bg);
  margin-bottom: 90px;
}

.NewsLetterWrapper {
  margin: auto;
  width: 88%;
  padding: 14px 0;
}

.NewsLetterWrapperContainer {
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.NewsLetterWrapperContainerLeft {
  width: 50%;
}

.NewsLetterWrapperContainerRight {
  width: 46%;
}
.NewsLetterLeft {
  margin-left: 25px;
}

.highlight {
  color: var(--primary-color);
  padding-bottom: 10px;
}

.NewsLetterLeftH1 {
  font-size: 1.8rem;
  width: 90%;
  line-height: 36px;
}

.hiddenHighlight {
  color: var(--primary-color);
}

.NewsLetterRight {
  background-color: rgb(255, 255, 255);
  padding: 0.4rem 0.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.5rem;
}

.inputClass {
  border: none;
  outline: none;
  padding: 0.8rem 1.3rem;
  width: 70%;
}

.secondary_btn {
  padding: 0.8rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  border-radius: 0.2rem;

  background: var(--btn-primary-bg);
}

.light-theme .secondary_btn {
  background: var(--btn-secondary-bg);
}
