.NavWrapper {
  border: 1px solid black;
  background-color: aquamarine;
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo h1 {
    color: var(--primary-color);
  }

  .middle {
    border: 1px solid black;
    background-color: rgb(255, 173, 65);
    width: 45%;

    .Menu {
      border: 1px solid black;
      display: flex;
      justify-content: space-between;
      list-style: none;
    }

    .Menu_links:hover {
      color: var(--link-active);
    }
  }

  .right {
    border: 1px solid black;
    background-color: burlywood;

    display: flex;
    justify-content: space-around;
    padding-right: 5px;
    color: var(--btn-primary-bg);

    .light-theme {
      // display: block;
    }

    .HamBurgerMenu {
      display: none;
    }
  }
}

@media (max-width: 1000px) {
  .right {
    .light-theme {
      display: none;
    }

    .HamBurgerMenu {
      display: inline-block;
    }
  }
}
