.navContainer {
  position: fixed;
  z-index: 999;
  width: 90%;
  line-height: 60px;
  background: var(--body-bg);
  box-shadow: rgba(99, 99, 241, 0.25) 0px 50px 100px -20px,
    rgba(236, 99, 99, 0.3) 0px 30px 60px -30px;
}

.NavWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 a {
  color: var(--primary-color);
  cursor: pointer;
}

.middle {
  width: 46%;
  position: relative;
}
.Menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.Menu_links {
  font-weight: 400;
  font-size: 1.1rem;
}

.Menu_links:hover {
  color: var(--link-active);
}

.navRight {
  display: flex;
  justify-content: space-around;
  padding-right: 5px;
  color: var(--btn-primary-bg);
}

.light-theme {
  display: block;
  color: rgb(255 255 255 / 81%);
  cursor: pointer;
}

.HamBurgerMenu {
  display: none;
  font-size: 24px;
  width: 42px;
  height: 56px;
  text-align: center;
  cursor: pointer;
}

@media (max-width: 860px) {
  .Menu {
    display: none;
    width: 30vw;
    padding: 20px 0;
    margin-left: 200%;
    position: absolute;
    top: -5px;
    left: 54%;
    background: #0e2431;
    transform: translate(35%, 10%);
    transition: all 0.5s;
  }

  .Menu.MobileMenuLink {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 0;
  }

  .light-theme {
    display: none;
    /* display: block; */
  }

  .light-theme.MobileMenuLink {
    display: block;
  }

  .HamBurgerMenu {
    display: inline-block;
  }
}
