.FooterWrapper {
  width: 90%;
  margin: auto;
}

.FooterTopContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 40px;
  padding: 5px;
}

.border {
  padding: 8px;
}

.FooterTopFirstTop {
  padding-bottom: 20px;
}

.FooterHighlight {
  color: var(--primary-color);
}
.FooterTopPara {
  color: var(--heading-color);
  font-size: 0.9rem;
}

.FooterBottomContainer {
  text-align: center;
  color: var(--small-text-color);
}

.FooterHighlight a {
  color: var(--primary-color);
}

.FooterHighlightH2 {
  padding-bottom: 6px;
}

.FooterTopFirstBottom {
  line-height: 29px;
  color: var(--small-text-color);
}

.FooterUl li {
  margin-bottom: 28px;
}

.FooterUl li a {
  font-size: 1rem;
  font-weight: 400;
}
