.FooterWrapper {
  width: 90%;
  margin: auto;
}

.FooterTopContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 30px;
  padding: 5px;
}

.border {
  padding: 8px;
}

.FooterTopFirstTop {
  padding-bottom: 20px;
}

.FooterHighlight {
  color: var(--primary-color);
}
.FooterTopPara {
  color: var(--heading-color);
  font-size: 0.9rem;
}

.FooterBottomContainer {
  text-align: center;
  color: var(--small-text-color);
  padding: 6px 0;
}

.FooterHighlight a {
  color: var(--primary-color);
}

.FooterHighlightH2 {
  padding-bottom: 6px;
}

.FooterTopFirstBottom {
  line-height: 29px;
  color: var(--small-text-color);
}

.FooterUl li {
  margin-bottom: 28px;
}

.FooterUl li a {
  font-size: 1rem;
  font-weight: 400;
}

/* media query  */
@media (max-width: 1025px) {
  .FooterTopFirstBottom {
    line-height: 22px;
  }

  .FooterTopContainer {
    margin-bottom: 20px;
    padding: 2px;
  }
}

@media (max-width: 860px) {
  .FooterTopContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 25px;
    grid-gap: 12px;
    padding: 8px;
  }

  .borderLi {
    padding: 9px;
    text-align: center;
  }
}

@media (max-width: 560px) {
  .FooterWrapper {
    width: 66%;
  }

  .FooterTopContainer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 16px;
    grid-gap: 18px;
    padding: 8px;
  }
}
