.FooterContainer {
  border: 1px solid red;
  background-color: azure;
}

.FooterWrapper {
  border: 1px solid rgb(4, 0, 255);
  background-color: rgb(226, 255, 97);
  width: 98%;
  margin: auto;
  text-align: center;
}

.FooterContent {
  border: 1px solid rgb(255, 0, 247);
  background-color: rgb(222, 227, 200);
}

.FooterTopContainer {
  border: 1px solid rgb(12, 219, 255);
  background-color: rgb(255, 157, 157);
}

.FooterBottomContainer {
  border: 1px solid rgb(255, 0, 0);
  background-color: rgb(236, 255, 139);
}
