.BlogContainer {
  margin-bottom: 92px;
}

.BlogWrapper {
  width: 90%;
  margin: auto;
  padding: 8px;
}

.BlogTop {
  text-align: center;
  margin-bottom: 8px;
}

.BlogTopHeading {
  color: var(--primary-color);
  padding-bottom: 12px;
}

.BlogTopDescriptionSpan {
  color: var(--primary-color);
}

.BlogCardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

.BlogCard {
  background: var(--card-bg);
  padding-top: 10px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 15px;
  border-radius: 8px;
}
.light-theme .BlogCard {
  background: #e1effb;
}

.BlogCard .BlogCardTop {
  color: var(--heading-color);
  padding-bottom: 12px;
}

.BlogVideoContainer {
  width: 100%;
  margin-bottom: 12px;
}

.BlogVideoContainer img {
  width: 100%;
}

.blogCardDescription {
  color: var(--small-text-color);
}

.BlogCardIcon {
  margin-bottom: 12px;
  margin-top: 14px;
}

.BlogCardIcon i {
  color: var(--primary-color);
  font-size: 1.3rem;
}

/* media query  */

@media (max-width: 1100px) {
  .BlogWrapper {
    width: 92%;
    padding: 4px;
  }

  .BlogTop {
    margin-bottom: 20px;
  }

  .BlogTopHeading {
    padding-bottom: 5px;
  }
}

@media (max-width: 1000px) {
  .BlogContainer {
    margin-bottom: 40px;
  }
  .BlogCard {
    padding-top: 8px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 26px;
    border-radius: 8px;
  }
}

@media (max-width: 860px) {
  .BlogCard {
    padding-top: 6px;
    padding-bottom: 0px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 20px;
    border-radius: 6px;
  }
}

@media (max-width: 770px) {
  .BlogCardContainer {
    display: grid;
    grid-template-columns: 0.8fr;
    justify-content: center;
  }
  .BlogCard {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 36px;
    border-radius: 8px;
  }

  .BlogCard {
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 8px;
    border-radius: 6px;
  }
}
