.BlogContainer {
  margin-bottom: 92px;
}

.BlogWrapper {
  width: 90%;
  margin: auto;
  padding: 8px;
}

.BlogTop {
  text-align: center;
  margin-bottom: 42px;
}

.BlogTopHeading {
  color: var(--primary-color);
  padding-bottom: 12px;
}

.BlogTopDescriptionSpan {
  color: var(--primary-color);
}

.BlogCardContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BlogCard {
  background: var(--card-bg);
  width: 27%;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 36px;
  border-radius: 8px;
}
.light-theme .BlogCard {
  background: #e1effb;
}

.BlogCard .BlogCardTop {
  color: var(--heading-color);
  padding-bottom: 12px;
}

.BlogVideoContainer {
  width: 100%;
  margin-bottom: 12px;
}

.BlogVideoContainer img {
  width: 100%;
}

.BlogCard:nth-child(2) .BlogVideoContainer {
  margin-top: -70px;
  margin-bottom: -30px;
}

.BlogCard:nth-child(2) {
  width: 30%;
  margin-top: -18px;
}

.blogCardDescription {
  color: var(--small-text-color);
}

.BlogCardIcon {
  margin-bottom: 12px;
  margin-top: 14px;
}

.BlogCardIcon i {
  color: var(--primary-color);
  font-size: 1.3rem;
}
